.v-main {
  width: 100vw;
}

hr {
  border-color: var(--v-primary-base) !important;
}

.v-application a {
  color: unset !important;
}

.v-card__title {
  word-break: normal !important;
}

.theme--light.v-card {
  > .v-card__text {
    color: black !important;
  }
}

.theme--dark.v-card {
  > .v-card__text {
    color: white !important;
  }
}

.row {
  margin: unset !important;
}
